.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f02929;
  padding: 1rem;
  color: white;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-item a:hover {
  background-color: #555;
  border-radius: 4px;
}